<h1>Uploading invoices</h1>

<div class="row">
  <div class="col-lg-12">
    <%= render partial: 'pagination' %>
  </div>
</div>

<div class="row">
  <div class="col-lg-8">
    <div id="uploads-container" class="list-group">
      <h4 class="list-group-item active">Invoices</h4>
      <%= render @uploads %>
    </div>
  </div>

  <div id="upload-container" class="col-lg-4">
    <%= render partial: 'upload_zone', locals: {job: @job, category: :invoice} %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= render partial: 'pagination' %>
  </div>
</div>